<!DOCTYPE html>
<html lang="en">
  <head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | Stackin</title>
    <link href="dist/main.css" rel="stylesheet">
    <script src="dist/main.js" type="text/javascript" defer></script>
  {% endblock %}
  </head>
  <body class="bg-gray-200 dark:bg-gray-800">
    {% include "components/header.html" %}
    <main class="px-96">
      {% block content %}{% endblock %}
    </main>
    {% include "components/footer.html" %}
  </body>
</html>
