{% import "components/alerts.html" as alerts %}
<!DOCTYPE html>
<html lang="en">
  <head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ context.get("title").cloned().unwrap_or_default() }}{% endblock %} | lowboy</title>
    <link href="static/dist/bundle.css" rel="stylesheet">
    <script src="static/dist/bundle.js" type="text/javascript" defer></script>
  {% endblock %}
  </head>
  <body class="flex flex-col h-screen bg-surface dark:bg-surfaceDark">
  {% block header %}
    {% include "components/header.html" %}
  {% endblock %}
    <main class="mb-auto px-36">
      {% call alerts::alerts(messages) %}
      {% block content %}{{ content|safe }}{% endblock %}
    </main>
    {% include "components/footer.html" %}
  </body>
</html>
