{% macro warning(message) %}
  <div class="relative w-full overflow-hidden rounded-md border border-yellow-500 bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-gray-300" role="alert">
    <div class="flex w-full items-center gap-2 bg-yellow-500/10 p-4">
      <div class="bg-yellow-500/15 text-yellow-500 rounded-full p-1" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6" aria-hidden="true">
          <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-8-5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-4.5A.75.75 0 0 1 10 5Zm0 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-2">
        <h3 class="text-sm font-semibold text-yellow-500">Warning</h3>
        <p class="text-xs font-medium sm:text-sm">{{ message }}</p>
      </div>
    </div>
  </div>
{% endmacro %}
