<form id="post-form" hx-swap-oob="true">
  <div class="flex w-full max-w-md flex-col overflow-hidden rounded-md border border-gray-500 text-gray-800 dark:border-gray-500 dark:text-gray-300">
    <div class="bg-gray-200/50 dark:bg-gray-800/50 p-2">
      <textarea class="scroll-on z-10 w-full resize-none bg-transparent p-4 text-sm focus:outline-none" name="message" rows="2" placeholder="What's on your mind?"></textarea>
    </div>
    <!-- Footer Container -->
    <div class="flex w-full items-center justify-between border-t border-gray-500 bg-gray-200 px-2.5 py-2 dark:border-gray-500 dark:bg-gray-800">
      <!-- Action Buttons -->
      <div class="flex items-center gap-2">
        <!-- Emoji Button -->
        <button class="rounded-full p-1 text-gray-800/75 hover:bg-gray-900/10 hover:text-gray-800 focus:outline-none focus-visible:text-gray-800 focus-visible:outline focus-visible:outline-offset-0 focus-visible:outline-sky-900 active:bg-gray-900/5 active:-outline-offset-2 dark:text-gray-300/75 dark:hover:bg-gray-50/10 dark:hover:text-gray-300 dark:focus-visible:text-gray-300 dark:focus-visible:outline-sky-400 dark:active:bg-gray-50/5" title="Emojies" aria-label="Emojies">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="size-5">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm2.023 6.828a.75.75 0 1 0-1.06-1.06 3.75 3.75 0 0 1-5.304 0 .75.75 0 0 0-1.06 1.06 5.25 5.25 0 0 0 7.424 0Z" clip-rule="evenodd" />
          </svg>
        </button>
        <!-- Attach Button -->
        <button class="rounded-full p-1 text-gray-800/75 hover:bg-gray-900/10 hover:text-gray-800 focus:outline-none focus-visible:text-gray-800 focus-visible:outline focus-visible:outline-offset-0 focus-visible:outline-sky-900 active:bg-gray-900/5 active:-outline-offset-2 dark:text-gray-300/75 dark:hover:bg-gray-50/10 dark:hover:text-gray-300 dark:focus-visible:text-gray-300 dark:focus-visible:outline-sky-400 dark:active:bg-gray-50/5" title="attach a file" aria-label="attach a file">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="size-5">
            <path fill-rule="evenodd" d="M18.97 3.659a2.25 2.25 0 0 0-3.182 0l-10.94 10.94a3.75 3.75 0 1 0 5.304 5.303l7.693-7.693a.75.75 0 0 1 1.06 1.06l-7.693 7.693a5.25 5.25 0 1 1-7.424-7.424l10.939-10.94a3.75 3.75 0 1 1 5.303 5.304L9.097 18.835l-.008.008-.007.007-.002.002-.003.002A2.25 2.25 0 0 1 5.91 15.66l7.81-7.81a.75.75 0 0 1 1.061 1.06l-7.81 7.81a.75.75 0 0 0 1.054 1.068L18.97 6.84a2.25 2.25 0 0 0 0-3.182Z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
      <!-- Send Button -->
      <button hx-post="/post" hx-target="#posts" hx-swap="afterbegin" class="cursor-pointer whitespace-nowrap rounded-md bg-sky-900 px-4 py-2 text-center text-xs font-medium tracking-wide text-white transition hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-900 active:opacity-100 active:outline-offset-0 dark:bg-sky-400 dark:text-black dark:focus-visible:outline-sky-400" type="button" aria-label="send">Send</button>
    </div>
  </div>
</form>
